@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/oswald-v57-cyrillic-500.woff2') format('woff2');
}

:root {
    --section-gap: 90px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1 {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}

h1+p {
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper-gray {
    background-color: #F7F7F7;
}

.hero__bg {
    background-image: url(/images/baner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.hero__content {
    position: absolute;
    top: calc(50% - 200px);
    left: 0;
    right: 0;
}

.stats,
.apartments,
.cta,
.amenities,
.gallery,
.reviews,
.contacts {
    margin-bottom: var(--section-gap);
}

.stats__list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin: -130px auto 0;
    padding: 50px 0;
}

.stats__item {
    text-align: center;
    min-width: 0;
}

.stats__number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #F7654A;
    line-height: 1;
    margin-bottom: 10px;
}

.stats__unit {
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 8px;
}

.stats__desc {
    display: block;
    color: #999999;
    line-height: 1.4;
    font-size: 18px;
}

.apartments__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: start;
}

.apartments__item {
    max-width: 350px;
    width: 100%;
    min-width: 0;
}

.apartments__item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
    height: auto;
}

.apartments__list h3 {
    position: relative;
    padding-top: 20px;
}

.apartments__list h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: #F7654A;
}

.cta {
    background-color: #F7654A;
    color: #fff;
}

.cta__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta__content h3 {
    font-size: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
}

.cta__content p {
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 42px;
}

.cta__content button {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    border: 1px solid #cac9c9;
    padding: 16px 45px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cta__content button:hover {
    background-color: #404149;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
}

.cta__content button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta__content button:focus {
    outline-offset: 2px;
}

.amenities__list {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.amenities__item {
    background-color: #F7F7F7;
    padding: 50px;
}

.amenities img {
    aspect-ratio: 1;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gallery__item {
    height: 100%;
    position: relative;
    margin: 0;
}

.gallery__item::before {
    content: '';
    background-color: rgba(64, 65, 73, 0.5);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.gallery__item:hover::before {
    background-color: rgba(64, 65, 73, 0);
}

.gallery__item img {
    width: 100%;
    height: auto;
    display: block;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.reviews__list>.reviews__item {
    flex-basis: 30%;
    max-width: 30%;
}

.reviews__text {
    background-color: #F7F7F7;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding: 61px 30px;
}

.reviews__text::before {
    content: '';
    background-image: url(/icons/sva.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 34px;
    height: 28px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.reviews__author {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

.contacts__list>div {
    flex-basis: 24%;
    max-width: 24%;
}

.contacts__list img {
    aspect-ratio: 1;
    width: 48px;
    margin-bottom: 10px;
}

.contacts__label {
    color: #999999;
    font-size: 24px;
    margin-bottom: 30px;
}

.contacts__value {
    list-style: none;
    padding-left: 0;
    font-size: 24px;
    color: #000;
}

.contacts__value>li {
    margin-bottom: 10px;
}

.contacts__value>li>a {
    text-decoration: none;
    color: #000;
}

.contacts__value>li>a:hover {
    color: #F7654A;
}

.contacts__value--list {
    color: #F7654A;
}

.footer {
    background: #404149;
    padding: 20px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer__content a {
    color: #F7654A;
    text-decoration: none;
}



.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal[hidden] {
  display: none !important;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal__content {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
}

.modal__close:hover {
    color: #333;
}

.modal__title {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #242424;
    text-transform: uppercase;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;  
    color: #242424;
}

.form-group input,
.form-group textarea {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#phone::placeholder {
    font-size: 16px;
    color: #c4c4c4;
}

.phone-hint {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
}

.modal__submit {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 1.1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background: #F7654A;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.modal__submit:hover {
    background-color: #a0220c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    color: #fff; 
}

.modal__submit:active {
    background-color: #a0220c;
    border: 1px solid transparent;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal__submit:focus {
    outline-offset: 2px;
}

.modal__success {
  margin-top: 2rem;
  color: #2a9d8f;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 1160px) {
    .wrapper {
        max-width: 900px;
    }

    h1 {
        font-size: 50px;
        max-width: 700px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .hero__bg {
        height: 85vh;
    }

    .hero__content {
        top: calc(50% - 160px);
    }

    .stats__list {
        padding: 36px 0;
    }

    .stats__number {
        font-size: 62px;
    }

    .stats__unit {
        font-size: 30px;
    }

    .cta__content h3 {
        font-size: 36px;
    }

    .cta__content p {
        font-size: 22px;
    }

    .contacts__label {
        font-size: 22px;
    }

    .contacts__value {
        font-size: 20px;
    }

}

@media (max-width: 960px) {
    .wrapper {
        max-width: 600px;
    }

    h1 {
        font-size: 42px;
        max-width: 600px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .hero__bg {
        height: 70vh;
    }

    .hero__content {
        top: calc(50% - 150px);
    }

    .stats__list {
        max-width: 500px;
        padding: 36px 0;
        margin: -100px auto 0;
    }

    .stats__number {
        font-size: 40px;
    }

    .stats__unit {
        font-size: 20px;
    }

    .apartments__list {
        gap: 16px;
    }

    .cta__content h3 {
        font-size: 32px;
    }

    .cta__content p {
        font-size: 20px;
    }

    .amenities__list {
        gap: 12px;
    }

    .amenities__item {
        padding: 30px;
    }

    .reviews__list {
        gap: 14px;
    }

    .reviews__author {
        font-size: 18px
    }

    .contacts__list {
        align-items: flex-start;
        margin-top: 60px;
        flex-wrap: wrap;
    }

    .contacts__list>div {
        flex-basis: 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }

    .contacts__label {
        font-size: 20px;
    }

    .contacts__value>li {
        margin-bottom: 10px;
    }
}

@media (max-width: 640px) {
    :root {
        --section-gap: 70px;
    }

    body {
        font-size: 16px;
    }

    .wrapper {
        max-width: 500px;
    }

    h1 {
        font-size: 32px;
        max-width: 450px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .hero__bg {
        height: 54vh;
    }

    .hero__content {
        top: calc(50% - 110px);
    }

    .stats {
        max-width: 450px;
        margin: 0 auto 70px;
    }

    .stats__list {
        flex-wrap: wrap;
        max-width: 400px;
        padding: 20px 0 0;
    }

    .stats__item {
        flex-basis: 49%;
        max-width: 49%;
    }

    .stats__number {
        font-size: 30px;
    }

    .stats__unit {
        font-size: 18px;
        margin: 0;
    }

    .stats__desc {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .apartments__list {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }

    .apartments__item {
        max-width: 320px;
        width: 100%;
    }

    .cta__content {
        flex-direction: column;
        text-align: center;
    }

    .cta__content p {
        margin-bottom: 30px;
    }

    .cta__content h3 {
        font-size: 28px;
    }

    .cta__content button {
        margin-bottom: 24px;
    }

    .amenities__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .amenities__item {
        padding: 16px;
    }

    .amenities h3 {
        font-size: 18px;
    }

    .amenities img {
        max-width: 80px;
    }

    .gallery__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews__list {
        flex-wrap: wrap;
        gap: 10px;
    }

    .reviews__list>.reviews__item {
        box-sizing: content-box;
        flex-basis: 100%;
        max-width: 100%;
    }

    .reviews__text {
        padding: 40px 16px;
    }

    .reviews__text::before {
        margin-bottom: 18px;
    }

    .reviews__author {
        line-height: 20px;
        letter-spacing: 0.02em;
    }

    .contacts__label,
    .contacts__value {
        font-size: 18px;
    }

    .contacts__list img {
        max-width: 32px;
        aspect-ratio: 1;
        width: 100%;
    }

    .footer__content {
        flex-wrap: wrap;
        text-align: center;
        line-height: 1.5;
    }

    .footer__content>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    :root {
        --section-gap: 60px;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
        max-width: 350px;
    }

    h2 {
        font-size: 20px;
    }

    .wrapper {
        max-width: 300px;
    }

    .hero__bg {
        height: 48vh;
    }

    .hero__content {
        top: calc(50% - 100px);
    }

    .stats__list {
        max-width: 250px;
        padding: 18px 0 0;
    }

    .stats__number {
        font-size: 28px;
    }

    .stats__unit {
        font-size: 16px;
    }

    .cta__content h3 {
        font-size: 26px;
        margin-bottom: 0;
    }

    .cta__content p {
        font-size: 18px;
        margin: 12px 0 24px;
    }

    .cta__content button {
        font-size: 12px;
    }

    .amenities img {
        max-width: 72px;
    }

    .gallery__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews__list {
        gap: 0px;
    }

    .reviews__text {
        font-size: 14px;
    }

    .contacts__value {
        font-size: 14px;
    }
}